.table,
.lineItem,
.headerItem {
  border: 1px solid #070707;
}
.table {
  width: 450px;
  border-collapse: collapse;
}

.headerItem {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 8px;
}
.line:nth-child(even) {
  background-color: #585757;
}
